.mainSlideContainer {
    height: 550px;
}

.mainSlideContainerImageBlock {
    width: 100%;
    height: 100%;
}

.mainSlideContainerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    margin-bottom: 50px;
}


.contentSlideContainer {
    position: absolute;
    top: 25%;
    width: 8%;
    margin-left: 60px;
}

.contentSlideContainer button {
    margin: 20px 0;
}

.contentSlideContainer h1 {
    font-size: 38px;
    margin-bottom: 25px;
}


@media screen and (max-width: 835px){
    .mainSlideContainer {
        height: 400px;
    }

    .contentSlideContainer {
        top: 10%;
        width: 10%;
        margin-left: 60px;
    }
    .contentSlideContainer h1 {
        font-size: 20px;
    }

    .contentSlideContainer p {
        font-size: 15px;
    }
}


@media screen and (max-width: 444px){

    .contentSlideContainer h1 {
        font-size: 18px;
    }

    .contentSlideContainer p {
        font-size: 12px;
    }
}