.container {
    width: calc(33.333% - 20px);
    margin: 10px;
}

.postImageContainer {
    width: auto;
    height: 350px;
}

.postImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container h1 {
    font-size: 25px;
    margin-bottom: 10px;
}





@media only screen and (max-width: 1366px) {
    .container {
        width: calc(50% - 20px);
        margin: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        width: calc(100% - 20px);
        margin: 10px;
    }
}