.editorialTitle {
    font-size: 35px;
    font-weight: 500;
    margin: 20px 0;
}

.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 5; }
.div2 {
    column-count: 2;
    grid-area: 1 / 5 / 2 / 9;
}

.listItemContainer {
    display: inline-block;
    margin-bottom: 20px;
}

.image {
    width: 100%;
    height: auto;
}



@media screen and (max-width: 800px){

    .parent {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px){

    .div2 {
        column-count: 1;
        grid-area: 1 / 5 / 2 / 9;
    }
}
