.container {
    display: inline-block;
    margin: 15px;
}

.productContainer {
    width: 100%;
    height: auto;
}

.productImageContainer {
    width: 100%;
    height: 100%;
    object-fit: contain;
}












