.container {
    margin: 50px 0;
}

.contentContainer {
    background-color: #ececec;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

.textBlock h3 {
    color: #2c2c2c;
    margin-bottom: 15px;
}

.textBlock p {
    width: 80%;
    color: #2c2c2c;
}


.textBlock {
    width: 75%;
}

.button {
    background-color: transparent;
    padding: 15px 20px;
    color: #2c2c2c;
    border: 1px solid #2c2c2c;
    font-size: 15px;
}

.button:hover {
    background-color: #fa5d20;
    border: 1px solid #fa5d20;
    cursor: pointer;
    color: white;
}


@media screen and (max-width: 500px){
    .contentContainer {
        background-color: #ececec;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        align-items: start;
    }

    .textBlock {
        margin-bottom: 20px;
    }

}